body {
  font-family: "微软雅黑",Arial, Helvetica, sans-serif;
  /*font-size: 16px;*/
  color: #555;
}
.clearfix:after{
  clear: both;
  content: "";
  display: block;
  height: 0px;
  visibility: hidden;
  line-height: 0;
}
.pull-right{float: right;}

a{
	color: #1D85C9;
	text-decoration: none;
}
a:visited{
	color: #aaa;
}
a:hover{
	color: #00adef;
}









