body {
  font-family: "微软雅黑",Arial, Helvetica, sans-serif;
  /*font-size: 16px;*/
  color: #555;
}
.clearfix:after{
  clear: both;
  content: "";
  display: block;
  height: 0px;
  visibility: hidden;
  line-height: 0;
}
.pull-right{float: right;}

a{
	color: #1D85C9;
	text-decoration: none;
}
a:visited{
	color: #aaa;
}
a:hover{
	color: #00adef;
}
.validater-helper{
  color: red;
}

/*网站加载动画*/
#loading{
  width: 120px;height: 120px;
  position: absolute;left: 50%;top: 50%;
  margin-left: -60px;margin-top: -60px;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#layout {display: none;}

#loading > p{
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: #67CF22;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  -moz-animation: bouncedelay 1.4s infinite ease-in-out;
  -o-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
#loading .text{display: block;text-align: center;color: #aaa;}
#loading .bunce1{
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  -o-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#loading .bunce2{
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  -o-animation-delay: -0.16s;
  animation-delay: -0.16s;
}








