<div class="header">
    <h1>导入员工</h1>
    <h2>{{company.companyName}}</h2>
</div>

<div class="content">
    <div class="content-subhead">
    	<button class="pure-button pure-button-primary"><i class="fa fa-plus"></i> 批量导入员工</button>
    	<button class="pure-button" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i> 手动添加员工</button>
			<!-- Modal -->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="addModalLabel">添加员工</h4>
			      </div>
			      <div class="modal-body">
			        <form class="pure-form pure-form-aligned" name="addForm" ng-submit="submitAddForm(addForm.$valid)" novalidate>
			            <fieldset>
			                <div class="pure-control-group">
			                    <label>姓名</label>
			                    <input type="text" ng-model="stuff.name">
			                </div>
			                <div class="pure-control-group">
			                    <label>工号</label>
			                    <input type="text" ng-model="stuff.workNo">
			                </div>
			                <div class="pure-control-group">
			                    <label>手机号</label>
			                    <input type="text" ng-model="stuff.cellphone">
			                </div>
			                <div class="pure-control-group" ng-model="stuff.name">
			                    <label>性别</label>
			                    <input type="radio" name="sex" value="0" selected>男
			                    <input type="radio" name="sex" value="1">女
			                </div>

			                <div class="pure-control-group">
			                    <label for="supdepart">所属部门</label>
                          <select ng-model="stuff.departmentId" ng-options="d.departmentId as d.text for d in departlist">
			                    	<option value="">--无--</option>
			                    </select>
			                </div>
			                <div class="pure-control-group">
			                    <label>职位</label>
			                    <input type="text" ng-model="stuff.job">
			                </div>
			                <div class="pure-control-group">
			                    <label>邮箱</label>
			                    <input type="text" ng-model="stuff.email">
			                </div>
			                <div class="pure-control-group">
			                    <label>办公电话</label>
			                    <input type="text" ng-model="stuff.officePhone">
			                </div>
			                <div class="pure-control-group">
			                    <label>办公地点</label>
			                    <input type="text" ng-model="stuff.officeLocation">
			                </div>
			                <div class="pure-controls">
			                    <button type="submit" class="pure-button pure-button-primary">新建</button>
			                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			                </div>
			            </fieldset>
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal end -->
    </div>
    <div>
        请下载excel模板，然后按模板要求填写后批量导入员工（推荐）<a href="app/resources/stuff_template.xls">excel员工模板</a>
        <p>您也可以点击手动添加按钮来手动添加员工。</p>
    </div>

</div>