<div class="header">
    <h1>员工列表</h1>
    <h2>{{company.companyName}}</h2>
</div>

<div class="content">
    <div class="content-subhead">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜索员工...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div><!-- /input-group -->
    </div>
    <div>
      <table class="table  table-bordered table-hover  table-condensed">
        <thead>
          <tr>
            <th>姓名</th>
            <th>工号</th>
            <th>部门</th>
            <th>职位</th>
            <th>手机号</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in stuffs">
            <td>{{i.name}}</td>
            <td>{{i.name}}</td>
            <td>{{i.name}}</td>
            <td>{{i.name}}</td>
            <td>{{i.depart}}</td>
            <td>
            	<button class="pure-button button-secondary button-small">修改</button>
            	<button class="pure-button button-secondary button-small">详细</button>
            </td>
          </tr>
        </tbody>
	   </table>
    </div>
    <nav class="nav-paginaton">
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
      </ul>
    </nav>
</div>