html, body/*, .off-canvas-wrap, .off-canvas-wrap .inner-wrap, .main-section*/{
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'STHeiti Light', 'STXihei', 'Microsoft YaHei', 'SimHei',Arial,sans-serif;;
}

table{ width: 100%;}

.textarea-prefix{ margin: 0;padding: .5rem 1rem;}
.button-sm{padding: .6rem 2rem;}
.main-section{
	padding:  2em 2em;
  /*height: 500px;*/
}
.page-head li a{color: #fff;}
.menu-head{
	height: 2.8125rem;
	padding: .4rem;
	line-height: 2.8125rem;
}
.menu-head img{
	height: 100%;
	display: block;
}
.menu-avatar{
	padding: 1.2em 0;
}
.menu-avatar img{
	margin: 0 1em;
	border-radius: 50%;
	width: 80px;
}
.menu-avatar h4{
	color: #fff;
}
.menu-avatar p{
	color: #aaa;
}
.page-head{
	text-align: center;
}
.page-head .button-group .active{
	background: #00749B;
}

.page-content{
	min-height: 800px;
}

.meeting-table tr td{
	font-size: 18px;
}
#meetingnew form .error{
	display: none;
}
#meetingnew form .columns{
	padding-right: 0;
	padding-left: 0;
}
#meetingnew form textarea{
	height: 160px;
}

/*detail*/
#updateBox form .error{
	display: none;
}
#updateBox form .columns{
	padding-right: 0;
	padding-left: 0;
}
#updateBox form textarea{
	height: 160px;
}
#detailBox .title{
	background-color: #32b3ef;
}
#detailBox .meeting-content{
	padding: 1em;
	max-width: 500px;
	margin: 0 auto;
	margin-top: .5em;
	background-color: #eee;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*topic*/
.topic-list li{
	list-style: none;
	border-bottom: 1px solid #aaa;
}
.topic-list .col-user{
	/*text-align: center;*/
}
.topic-list .col-user img{
	margin-top: .5em;
	height: 60px;width: 60px;
}
.topic-list .col-content:hover {
	background-color: #eee;
}
.topic-list .col-content .right{
	font-size: .6em;
}


/*contact*/
.contact-list{
	background-color: #fff;
}
.contact-list li{
	list-style: none;
	padding: .5em;
	border-bottom: 1px solid #aaa;
}
.contact-list .left{
	padding-right: .5em;
}
.contact-list img{
	width: 50px;height: 50px;
}
.contact-list .sub-info{
	color: #999;
}

.li-user-add-true{
	opacity: 0.5;
	cursor: not-allowed;
}
.contact-list .slide-bottom{
	display: none;
}
.contact-list .button-group .button{
	margin-bottom:0;
}

/*tag*/
.tag-info{
	font-size: .8em;
	margin: 0 .5em;
	padding: .2em .5em;
	color: #fff;
}
.tag-creator{
	background-color: #f24668;
}
/*未发送*/
.tag-state-0{
	background-color: #aaa;
}
/*已发送*/
.tag-state-1{
	background-color: #5fb8ef;
}
/*已同意*/
.tag-state-2{
	background-color: #63dd8e;
}
/*待定*/
.tag-state-3{
	background-color: #ed9f63;
}
/*签到*/
.tag-state-4{
	background-color: #e84a4a;
}
/*拒绝*/
.tag-state-4{
	background-color: #f00;
}

/*//profiles*/
.price-avatar img{
	border-radius: 50%;
	padding: .5em;
}
.tag-span-false{
	color: #fff;
	padding: .2em 1em;
	border-radius: 5%;
	background-color: #32b3ef;
}
.tag-span-true{
	color: #fff;
	padding: .2em 1em;
	border-radius: 5%;
	background-color: #aaa;
}