<% include template_header.html %>
<div id="regist" class="response-ctr">
	<h1>感谢您使用神猫搜索，这一切都是开源免费的。</h1>
    <form id="regist-form" action="" method="">
	<fieldset>
		<legend></legend>
		<div class="form-control">
			<label>请输入邮箱(将作为您的登录账号):</label>
			<input type="text" placeholder="用户名/邮箱">
		</div>
		<div class="form-control">
			<label>设定密码:</label>
			<input type="password">
			<div class="pass-level">
				<p class="current">弱</p><p>中</p><p>强</p>
			</div>
		</div>
		<div class="form-control">
			<label>确认密码:</label>
			<input type="password">
		</div>
		<div class="form-control input-inline clearfix">
			<label>验证码:</label>
			<input type="text" placeholder="请输入右图内容">
			<img src="/static/images/yanzhenma.jpg">
			<span class="refresh">点击刷新</span>
		</div>
		<div class="form-control input-checkbox">
			<input type="checkbox" id="xieyi">
			<label for="xieyi">我已阅读并同意 <a href="">神猫搜索使用协议</a></label>
		</div>
		<div class="form-control">
			<input type="submit" value="注 册">
		</div>
		<div class="clearfix">
			<a href="/home"  class="pull-right">已有账号，立即登录</a>
		</div>
	</fieldset>
  	</form>
</div>

<% include template_footer.html %>
