<div class="page-head">
	<ul class="button-group even-3">
	  <li><a href="#/?listType=0" class="button">我的创建的</a></li>
	  <li><a href="#/?listType=1" class="button">我是组织者</a></li>
	  <li><a href="#/?listType=2" class="button">我是嘉宾</a></li>
	</ul>
</div>
<div class="page-content">
	<table>
	  <thead>
	    <tr>
	      <th>标题</th>
	      <th>时间</th>
	      <th>地点</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="m in meetinglist">
	      <td><a href="#/meeting-detail?mid={{m[0]}}">{{m[1]}}</a></td>
	      <td>{{ [m[4],m[2]] | meetingDate }}</td>
	      <td>{{m[3]}}</td>
	    </tr>
	  </tbody>
	</table>
	
	<tm-pagination conf="paginationConf"></tm-pagination>
</div>

<script type="text/javascript">

</script>
