<div class="page-head">
	<h2>新建会议</h2>
</div>
<div class="page-content" id="meetingnew">
	<form name="addForm" ng-submit="submitAddForm(addForm.$valid)" novalidate>
		<div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议名称</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value" ng-model="meeting.meetingName">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议地点</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value" ng-model="meeting.meetingLocation">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">开始时间</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="点击选择开会时间"  class="form_datetime datetimepicker"  readonly>
          <input type="hidden" name="starttime" id="starttime" ng-model="meeting.meetingStartTime">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">结束时间</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="点击选择结束会议时间" class="form_datetime datetimepicker"  readonly>
          <input type="hidden" name="endtime" id="endtime" ng-model="meeting.meetingPredictFinishTime">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议频率</p></div>
        <div class="small-9 columns">
          <label>
          <select ng-model="meeting.meetingFrequency">
            <option value="1">单次</option>
            <option value="2">每天</option>
            <option value="3">每周</option>
            <option value="4">每月</option>
          </select>
          </label>
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议内容</p></div>
        <div class="small-9 columns">
           <textarea placeholder="small-12.columns" ng-model="meeting.meetingContent"></textarea>
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-9 small-offset-3 columns">
          <button type="submit" class="button success button-sm">新建</button>
        </div>
      </div>
    </div>
	</form>
</div>
<link href="app/bower_components/bootstrap-datetimepicker/css/dropmenu.css" rel="stylesheet">
<link href="app/bower_components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="app/bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
;(function($){
$.fn.datetimepicker.dates['zh-CN'] = {
      days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
      daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
      daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
      months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
      monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
      today: "今日",
      suffix: [],
      meridiem: ["上午", "下午"]
  };
}(jQuery));
$('.form_datetime').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
});
$('.form_datetime').datetimepicker().on('hide',function(ev){
  var TimeZoned = new Date(ev.date.setTime(ev.date.getTime() + (ev.date.getTimezoneOffset() * 60000)));
  $(".form_datetime + input").val(TimeZoned.getTime());
  console.log(TimeZoned.getTime());
});
</script>