<div class="page-head">
	<ul class="button-group even-3">
	  <li><a href="#/meeting-detail?x=1" class="button">会议详细</a></li>
	  <li><a href="#/meeting-contact?x=1" class="button">会议联系人</a></li>
	  <li><a href="#/meeting-discuss?x=1" class="button active">会议讨论</a></li>
	</ul>
</div>
<div class="page-content">
	<form>
			<div class="large-6 row">
	      <div class="row prefix-round">
	        <div class="small-3 columns"><p class="button prefix">会议名称</p></div>
	        <div class="small-9 columns">
	          <input type="text" placeholder="Value">
	        </div>
	      </div>
	    </div>
	    <div class="large-6 row">
	      <div class="row prefix-round">
	        <div class="small-3 columns"><p class="button prefix">会议地点</p></div>
	        <div class="small-9 columns">
	          <input type="text" placeholder="Value">
	        </div>
	      </div>
	    </div>
	    <div class="large-6 row">
	      <div class="row prefix-round">
	        <div class="small-3 columns"><p class="button prefix">开始时间</p></div>
	        <div class="small-9 columns">
	          <input type="text" placeholder="点击选择开会时间" class="form_datetime datetimepicker"  readonly>
	        </div>
	      </div>
	    </div>
	    <div class="large-6 row">
	      <div class="row prefix-round">
	        <div class="small-3 columns"><p class="button prefix">结束时间</p></div>
	        <div class="small-9 columns">
	          <input type="text" placeholder="点击选择结束会议时间" class="form_datetime datetimepicker"  readonly>
	        </div>
	      </div>
	    </div>
	    <div class="large-6 row">
	      <div class="row prefix-round">
	        <div class="small-3 columns"><p class="button prefix">会议频率</p></div>
	        <div class="small-9 columns">
	          <label>
	          <select>
	            <option value="husker">Husker</option>
	            <option value="starbuck">Starbuck</option>
	            <option value="hotdog">Hot Dog</option>
	            <option value="apollo">Apollo</option>
	          </select>
	          </label>
	        </div>
	      </div>
	    </div>
	    <div class="large-6 row">
	      <div class="row prefix-round">
	        <div class="small-3 columns"><p class="button prefix">会议内容</p></div>
	        <div class="small-9 columns">
	           <textarea placeholder="small-12.columns"></textarea>
	        </div>
	      </div>
	    </div>
		</form>
</div>

<script type="text/javascript">

</script>
