<div class="page-head">
	<h1>已完成的会议</h1>
</div>
<div class="page-content">
	<table>
	  <thead>
	    <tr>
	      <th>标题</th>
	      <th>时间</th>
	      <th>地点</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="m in meetinglist">
	    	<a href="#/meeting-detail?mid={{m[0]}}" class="button tiny">
		      <td>{{m[1]}}</td>
		      <td>{{ [m[4],m[2]] | meetingDate }}</td>
		      <td>{{m[3]}}</td>
				</a>
	    </tr>
	  </tbody>
	</table>
	
	<tm-pagination conf="paginationConf"></tm-pagination>
</div>

<script type="text/javascript">

</script>
