<div class="page-head">
	<ul class="button-group even-3">
	  <li><a href="#/meeting-detail?mid={{meeting.meetingId}}" class="button">会议详细</a></li>
	  <li><a href="#/meeting-contact?mid={{meeting.meetingId}}" class="button  active">会议联系人</a></li>
	  <li><a href="#/meeting-discuss?mid={{meeting.meetingId}}" class="button">会议讨论</a></li>
	</ul>
</div>
<div class="page-content">
	<div class="row">
		<div class="columns large-6 medium-6 small-12">
			<div class="panel">
				<h3 class="subheader">
					办会人名单 
					<button class="button tiny" data-reveal-id="addUserModal" onclick="$('#addUserModal').foundation('reveal', 'open');" ng-show="meeting.meetingState == 0">添加帮手</button>
				</h3>
				<ul class="row contact-list">
					<li class="columns clearfix" ng-repeat="o in organizerList">
						<div class="info-group">
							<div class="left">
								<img src="http://7u2j45.com1.z0.glb.clouddn.com/o_19jl78jhg175m1r2pj4ljcm9bn7.jpg-head100">
							</div>
							<div>
								<span>{{o.name}}</span>
								<span class="tag-info tag-state-{{o.state}}">{{o.state | mcontact:'state'}}</span>
								<span class="tag-info tag-creator" ng-show="o.creator">{{o.creator | mcontact:'isCreator' }}</span>
							</div>
							<div class="sub-info">
								<span>{{o.companyName}}</span>
								<span>{{o.departmentName}}</span>
							</div>
						</div>
						<div class="button-group even-3 slide-bottom">
						  <button class="button secondary tiny" ng-click="onDeleteOrganizer(o.cellphone)">删除</button>
						  <button class="button secondary tiny" ng-click="onupdateState(o.cellphone,'o')">修改状态</button>
						  <button class="button secondary tiny" ng-click="onSendInvite(o.cellphone,'o')">发送邀请</button>
						</div>
					</li>
				</ul>
			</div>
		</div><!--办会人end-->
		<div class="columns large-6 medium-6 small-12">
			<div class="panel">
				<h3 class="subheader">
					参会人名单 
					<button class="button tiny" data-reveal-id="addUserModal2" onclick="$('#addUserModal2').foundation('reveal', 'open');" ng-show="meeting.meetingState == 0">添加参会嘉宾</button>
				</h3>
				<ul class="row contact-list">
					<li class="columns clearfix" ng-repeat="o in participatorList">
						<div class="info-group">
							<div class="left">
								<img src="http://7u2j45.com1.z0.glb.clouddn.com/o_19jl78jhg175m1r2pj4ljcm9bn7.jpg-head100">
							</div>
							<div>
								<span>{{o.name}}</span>
								<span class="tag-info tag-state-{{o.state}}">{{o.state | mcontact:'state'}}</span>
							</div>
							<div class="sub-info">
								<span>{{o.companyName}}</span>
								<span>{{o.departmentName}}</span>
							</div>
						</div>
						<div class="button-group even-3 slide-bottom">
						  <button class="button secondary tiny" ng-click="onDeleteParticipator(o.cellphone)">删除</button>
						  <button class="button secondary tiny" ng-click="onupdateState(o.cellphone,'p')">修改状态</button>
						  <button class="button secondary tiny" ng-click="onSendInvite(o.cellphone,'p')">发送邀请</button>
						</div>
					</li>
				</ul>
			</div>
		</div><!--参会人end-->
	</div>
</div>

<div id="addUserModal" class="reveal-modal" data-reveal  aria-hidden="true" role="dialog">
  <h2>请选择要添加的办会人员</h2>
  <ul class="row contact-list">
		<li class="columns clearfix li-user-add-{{o.add}}" ng-repeat="o in addorganizerList">
			<div class="left">
				<img src="{{o.avatar}}">
			</div>
			<div class="left">
				<span>{{o.name}}</span><br/>
				<span class="sub-info">{{o.department}}</span>
			</div>
			<div class="switch right" ng-show="o.add">
			 	<span>已添加</span>
			</div>
			<div class="switch right" ng-show="!o.add">
			  <input id="o{{o.cellphoneOfInfo}}" type="checkbox">
			  <label for="o{{o.cellphoneOfInfo}}"></label>
			</div>
		</li>
	</ul>
  <button class="button tiny" ng-click="onAddOrganizer()">添加</button>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="addUserModal2" class="reveal-modal" data-reveal  aria-hidden="true" role="dialog">
  <h2>请选择要添加的参会嘉宾</h2>
  <ul class="row contact-list">
		<li class="columns clearfix li-user-add-{{o.add}}" ng-repeat="o in addparticipatorList">
			<div class="left">
				<img src="{{o.avatar}}">
			</div>
			<div class="left">
				<span>{{o.name}}</span><br/>
				<span class="sub-info">{{o.department}}</span>
			</div>
			<div class="switch right" ng-show="o.add">
			 	<span>已添加</span>
			</div>
			<div class="switch right" ng-show="!o.add">
			  <input id="p{{o.cellphoneOfInfo}}" type="checkbox">
			  <label for="p{{o.cellphoneOfInfo}}"></label>
			</div>
		</li>
	</ul>
  <button class="button tiny" ng-click="onAddParticipator()">添加</button>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<script type="text/javascript">

</script>