<div class="page-head">
	<h1>新建会议</h1>
</div>
<div class="page-content" id="meetingnew">
	<form>
		<div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议名称</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议地点</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">开始时间</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="点击选择开会时间" class="form_datetime datetimepicker"  readonly>
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">结束时间</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="点击选择结束会议时间" class="form_datetime datetimepicker"  readonly>
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议频率</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">会议内容</p></div>
        <div class="small-9 columns">
           <textarea placeholder="small-12.columns"></textarea>
          <small class="error">Invalid entry</small>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-9 small-offset-3 columns">
          <button class="button success button-sm">新建</button>
        </div>
      </div>
    </div>
	</form>
</div>
<link href="app/bower_components/bootstrap-datetimepicker/css/dropmenu.css" rel="stylesheet">
<link href="app/bower_components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="app/bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="app/bower_components/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
  	$('.form_time').datetimepicker({
      language:  'zh-CN',
      weekStart: 1,
      todayBtn:  1,
  		autoclose: 1,
  		todayHighlight: 1,
  		startView: 1,
  		minView: 0,
  		maxView: 1,
  		forceParse: 0
      });
});
</script>
