<div class="page-head">
	<h1>我的消息</h1>
</div>
<div class="page-content">
	<div class="row">
		<div class="columns large-6 medium-6 small-12">
			<div class="panel">
				<div class="row collapse postfix-round">
	        <div class="small-9 columns">
	          <input type="text" placeholder="Value">
	        </div>
	        <div class="small-3 columns">
	          <a href="#" class="button postfix">搜索</a>
	        </div>
	      </div>
				<ul class="row contact-list message-list">
					<li class="columns clearfix" ng-repeat="o in msgList">
						<div class="info-group">
							<div>
								<span>{{o.msgContent | mmessage: 'type'}}</span>
								<!-- <span class="tag-info tag-state-0"></span> -->
							</div>
							<div class="sub-info">
								<span>来自 {{o.msgContent | mmessage: 'from'}}</span>
							</div>
						</div>
						<div class="slide-bottom">
							<div>{{o.msgContent | mmessage: 'body' }}</div>
							<div class="button-group even-3">
							  <button class="button secondary tiny" ng-click="onMeetingOperate(o.msgContent,2)">接受</button>
							  <button class="button secondary tiny" ng-click="onMeetingOperate(o.msgContent,3)">待定</button>
							  <button class="button secondary tiny" ng-click="onMeetingOperate(o.msgContent,4)">拒绝</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div><!--消息列表-->

	</div>
</div>

<script type="text/javascript">
</script>