<div class="page-head">
	<ul class="button-group even-3">
	  <li><a href="/MeetingMng/u#/message?checked=false" class="button">未处理</a></li>
	  <li><a href="/MeetingMng/u#/message?checked=true" class="button">已处理</a></li>
	</ul>
</div>
<div class="page-content">
	<div class="row">
		<div class="columns large-8 medium-8 large-offset-2 medium-offset-2 small-12">
			<div class="panel">
				<ul class="row contact-list message-list">
					<li class="columns clearfix" ng-repeat="o in msgList">
						<div class="info-group">
							<div>
								<span>{{o.msgContent | mmessage: 'type'}}</span>
								<!-- <span class="tag-info tag-state-0"></span> -->
							</div>
							<div class="sub-info">
								<span>来自 {{o.msgContent | mmessage: 'from'}}</span>
							</div>
						</div>
						<div class="slide-bottom">
							<div>{{o.msgContent | mmessage: 'body' }}</div>
							<div class="button-group even-3">
							  <button class="button secondary tiny" ng-click="onMeetingOperate(o.msgContent,o.msgId,2)">接受</button>
							  <button class="button secondary tiny" ng-click="onMeetingOperate(o.msgContent,o.msgId,3)">待定</button>
							  <button class="button secondary tiny" ng-click="onMeetingOperate(o.msgContent,o.msgId,5)">拒绝</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div><!--消息列表-->

	</div>
</div>

<script type="text/javascript">
</script>