<div class="page-head">
	<h2>个人资料</h2>
</div>
<div class="page-content" id="user-profile">
  <ul class="pricing-table">
    <!-- <li class="title">Standard</li> -->
    <li class="price price-avatar">
      <img src="{{client.avatarUrl}}">
      <p>{{client.name}} {{client.job}} 工号{{client.workNo}}</p>
    </li>
    <li class="description">{{client.companyName}} {{client.departmentName}}</li>
    <li class="bullet-item">
      {{client.email}} 
      <span class="tag-span-{{client.isBindEmail}}">绑定邮箱</span>
    </li>
    <li class="bullet-item">
      手机号：{{client.cellphone}}
      <span class="tag-span-{{client.isCellphoneHide}}">隐藏</span>
    </li>
    <li class="bullet-item">办公地址：{{client.officeLocation}}</li>
    <li class="bullet-item">办公电话：{{client.officePhone}}</li>
    <li class="cta-button">
      <button class="button tiny" ng-click="onModify()">修改资料</button></li>
  </ul>

	<form class="user-profile-form hide">
		<div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">个人头像</p></div>
        <div class="small-9 columns">
          <input type="hidden" id="avatarUrl" ng-model="client.avatarUrl" value="{{client.avatarUrl}}">
          <img alt="100x100" src="{{client.avatarUrl}}" id="headimg100" class="headimg headimg-100">
          <span id="qiniu_upload_container">
          	<button id="qiniu_upload_pickfiles" class="tiny button">上传新头像</button>
          </span>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">姓名</p></div>
        <div class="small-6 columns">
          <input type="text" placeholder="Value" ng-model="client.name">
        </div>
        <div class="small-3 columns">
          <select ng-model="client.sex">
           <option value="0">先生</option>
           <option value="1">女士</option>
          </select>
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">邮箱</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value" ng-model="client.email">
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">办公地点</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value" ng-model="client.officeLocation">
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-3 columns"><p class="button prefix">办公电话</p></div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value" ng-model="client.officePhone">
        </div>
      </div>
    </div>
    <div class="large-6 row">
      <div class="row prefix-round">
        <div class="small-9 small-offset-3 columns">
          <button class="button success button-sm" ng-click="modifyInfo()">修改</button>
        </div>
      </div>
    </div>
	</form>
</div>
<!-- 引入七牛SDK -->
<script src="app/bower_components/qiniu/moxie.js"></script>
<script src="app/bower_components/qiniu/plupload.dev.js"></script>
<script src="app/bower_components/qiniu/qiniu.js"></script>
<script src="app/bower_components/qiniu/upload.js"></script>
<script type="text/javascript">
  //init qiniu uploader
  var uploader = QiniuUploaderFactoray({
    'UploadProgress': function(up, file) {
    	$("#qiniu_upload_pickfiles").text("正在上传中...");
    	//console.log("UploadProgress");
    },
    'FileUploaded': function(up, file, info) {
      var domain = up.getOption('domain');
      var res = $.parseJSON(info);
      var url = domain + res.key; 
      $("#headimg100")[0].src= url+"-head100";
      $("#headimg50")[0].src= url+"-head50"; 
      $("#avatarUrl").val(url+'-head100');
      $("#qiniu_upload_pickfiles").text("上传成功")
    }
	});

</script>