<div class="page-head">
</div>
<div class="page-content">
	<div class="row">
		<div class="large-2 medium-2 small-4 columns "  style="text-align:center;">
			<img src="{{topic.avatarUrl}}">
			<p class>{{topic.creatorName}}</p>
		</div>
		<div class="large-10 medium-2 small-8 ">
			<h2>{{topic.title}}</h2>
			<h4>{{topic.content}}</h4>
			<p><span style="color:#f00;text-decoration:underline;" ng-click="onDelete()">删除</span> 创建时间：{{topic.createTime | date: 'yyyy-mm-dd HH:mm'}}</p>
		</div>
		
	</div>
	<ul class="row topic-list">
		<li ng-repeat="cmt in commentList" class="columns">
			<div class="row">
			<a class="large-2 medium-2 small-4 columns col-user" style="text-align:center;">
				<img src="{{cmt.avatarUrl}}">
				<p>{{cmt.username}}</p>

			</a>
			<a class="large-10 medium-2 small-8 columns">
				<p>{{cmt.content}}<span class="right">{{cmt.commentTime | date:'yyyy-MM-dd HH:mm'}}</span></p>
			</a>
			</div>
		</li>
	</ul>


	<div class="large-6 row">
	  <div class="row prefix-round">
	    <div class="small-3 columns"><p class="button prefix">我要回复</p></div>
	    <div class="small-9 columns">
	      <textarea placeholder="small-12.columns" ng-model="newComment.content"></textarea>
	      <!-- <small class="error">Invalid entry</small> -->
	    </div>
	  </div>
	</div>
	<div class="large-6 row">
	  <div class="row prefix-round">
	    <div class="small-9 small-offset-3 columns">
	      <button class="button success button-sm" ng-click="onComment()">确认</button>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">

</script>
